<mat-toolbar color="primary">
    <span>ALVARO ISRAEL VALVERDE MUÑOZ</span> 
    <span class="spacer"></span> 
    <button mat-button [matMenuTriggerFor]="menu">Datos Personales</button> 
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/contacto">Contacto</button>
      <button mat-menu-item routerLink="/rsyrepositorio">Redes Sociales y Repositorio</button>
    </mat-menu>
    <button mat-button routerLink="/currprofesional">Curriculum Profesional</button> 
    <button mat-button routerLink="/curracademico">Curriculum Academico</button> 
  </mat-toolbar>
  